$black: #000000;
$white: #FFFFFF;
$white1: #ECECEC;
$white2: #F8F8F8;
$gray1: #BABABA;
$gray2: #6E6E6E;
$gray3: #292929;
$gray4: #29323F;
$gray5: #333333;
$gray6:#797979;

//FONTS
$saira-font: 'Saira', sans-serif;
$arimo-font: 'Arimo', sans-serif;
$inter-font: 'Inter', sans-serif;
$rubik-font: 'Rubik', sans-serif;