.footer {
    position: relative;
    padding: 0px 20px 0px 20px;
    background-color: $white2;

    &__wrapper {
        position: relative;
        min-height: 239px;
    }

    &__logo {
        position: absolute;
        top: 43px;
        left: 0;
        width: 111px;
    }

    &__icon {
        position: absolute;
        top: 43px;
        right: 0;
        display: flex;
        justify-content: space-between;
        max-width: 176px;
        width: 100%;
    }

    &__img {
        cursor: pointer;
    }

    &__border {
        position: absolute;
        top: 92px;
        background-color: $black;
        height: 1px;
        margin-bottom: 80px;
    }

    &__menu {
        position: absolute;
        bottom: 40px;
        right: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 253px;
        width: 100%;
    }

    &__data {
        position: absolute;
        left: 0;
        bottom: 40px;
        font-family: $inter-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $gray6;
    }

    &__link {
        font-family: $inter-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $black;
        text-decoration: none;
        transition: color 0.5s ease;
    }

    &__link:hover {
        color: #44DCC1;
    }

    &__anchor {
        position: absolute;
        bottom: 10px;
    }
}

.svg {
    width: 24px;
    height: 24px;
    transition: 0.5s ease;
}

.svg:hover {
    fill: #44DCC1;
    color: #44DCC1;
}

@media screen and (max-width: 600px) {
    .footer {
        // position: static;
        padding-top: 68px;
        &__wrapper {
            position: static;
            justify-content: center;
            align-items:center;
        }
    }

}