.header {
    background-image: url(assets/bgheader.png);
    background-size: cover;
    min-height: 100vh;
    padding: 0 20px 20px 20px;

    &__title {
        margin-bottom: 30px;
    }

    &__subtitle {
        margin-bottom: 40px;
    }

    &__box {
        max-width: 432px;
        width: 100%;
    }
}

.wrapper {
    position: relative;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.anchor {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background-color: #292929;
    cursor: pointer;

    &__link {
        border-radius: 100px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease;
    }

    &__link:hover {
        background-color: #44DCC1;
    }

    &__link:focus {
        outline: 1px solid #44DCC1;
    }
}

.anchor__wrapper {
    position: relative;
    bottom: -132px;
}

@media screen and (max-width: 800px) {
    .header {
        background-image: url(assets/BGHeaderMobil.png);
        text-align: center;
&__box {
    margin: 0 auto;
}
        &__title {
            margin-bottom: 32px;
        }
        &__subtitle {
            margin-bottom: 26px;
        }

    }

    .anchor__wrapper {
        display: none;
    }
}